In [ ]:
#Q1
x = 2
x * 3

6

In [ ]:
#Q2
a = 100
b = 200
a = 200
b = 100
print(a,b)

200 100

In [ ]:
#Q3
a = 10
b = 2
print(a + b ,a - b ,a * b ,a // b)

12 8 20 5

In [ ]:
#Q4
-(-a // b)

2

In [ ]:
#Q5
a = 5
b = 10
print(a ** b)

9765625

In [ ]:
#Q6
a = 5
b = 10
if a < b:
    print("bは10です")
else:
    print("違います。")

bは10です

In [ ]:
#Q7
a = 5
if a % 2==0:
    print("True")
else:
    print("False")

False

In [ ]:
#Q8
a = "python"
print(a[2])

t

In [ ]:
#Q9
a = "py"
b = "thon"
c = a + b
print(c)

python

In [ ]:
#Q10 変数aに5を，変数bに3を代入し，これらの変数を用いて'5%3=2'という文字列を出力してください．
a = 5
b = 3
print(a,"%",b,"=2")

5 % 3 =2

In [ ]:
#Q11 変数に文字列'some1'を代入し，この文字列中の1をoneに変換してください
s1 = "some1"
s2 = s1.replace("1","one")
print(s2)

someone

In [ ]:
#Q12 変数に文字列'This Is A Sentence .'を代入し，この文字列を全て小文字に変換してください
s1 = "This Is A Sentence"
s1.lower()

'this is a sentence'

In [ ]:
#Q13 変数に文字列'This Is A Sentence .'を代入し，この文字列を全て大文字に変換してください
s1 = "This Is A Sentence"
s1.upper()

'THIS IS A SENTENCE'

In [ ]:
#Q14 変数に文字列'How many characters?'を代入し，この文字列の文字数を出力してください．空白も含めるものとします．
s = "How many characters?"
print(len(s))

20

In [ ]:
#Q15 変数aに文字列'34'を代入し，変数bに文字列'43'を代入し，これらを数字と見なした時の和を出力してください
a = "34"
b = "43"
print(int(a) + int(b))

77

In [ ]:
#Q16 変数にリスト[1,2,3,4,5]を代入し，(先頭を0番目として)3番目の要素を出力してください
a = [1,2,3,4,5]
print(a[3])

4

In [ ]:
#Q17 変数li1に[1,2,3]のリストを代入，変数li2に[4,5]のリストを代入し，2つのリストを結合して出力してください
li1 = [1,2,3]
li2 = [4,5]
li1.extend(li2)
print(li1)

[1, 2, 3, 4, 5]

In [ ]:
#Q18変数にリスト[1,2,3,4,5]を代入し，このリストの末尾に6,7を1つずつ順番に追加してください．その後，最終的なリストを出力してください．
a = [1,2,3,4,5]
b = [6,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#Q19 変数にリスト[1,2,3,4,5]を作成し，先頭を0番目としたときに，0番目と1番目の間に100を挿入してください
a = [1,2,3,4,5]
a.insert(1,100)
print(a)

[1, 100, 2, 3, 4, 5]

In [ ]:
#Q20 変数に[1,2,3,4,5]の5つの要素を持つリストを格納して，偶数の要素だけ出力してください．出力形式は問いません
a = [1,2,3,4,5]
for a in range(1,5):
  if a % 2 == 0:
    print(a)

2
4

In [ ]:
#Q21変数に[1,2,3,4,5]の5つの要素を持つリストを格納して，添え字が偶数番目の要素だけ出力してください．出力形式は問いません．ただし，先頭の添え字を0番目とします
a = [1,2,3,4,5]
print(a[0::2])

[1, 3, 5]

In [ ]:
#Q22 変数にリスト[11,22,33,44,55,66]を代入し，リストの要素数を出力してください．
a = [11,22,33,44,55,66]
print(len(a))

6

In [ ]:
#Q23 リスト[11,22,33,44,55]に，値44が存在するかどうかをifを用いて判定してください．存在すればTrue，そうでなければFalseを出力します
a = [11,22,33,44,55]
x = 44
if x in a:
    print("true")
else:
    print("WTF")

true

In [ ]:
#Q24 変数に[1,2,3,4,5]の5つの要素を持つリストを格納して，リストの先頭の要素と末尾の要素をタプルとして格納し，出力してください
a = [1,2,3,4,5]
a = 1,5
print(a)

(1, 5)

In [ ]:
#Q25 26 変数に，値の組みとして{'A':1, 'B':2, 'C':3, 'D':4, 'E':5}を持つ辞書を格納して，出力してください
a = {"A":1,"B":2,"C":3,"D":4,"E":5}
b = a.keys()
print(b)

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [ ]:
#Q27 変数に，値の組みとして{'A':1, 'B':2, 'C':3, 'D':4, 'E':5}を持つ辞書を格納して，値（バリュー）を要素としたリストを作成し，出力してください
c = a.values()
print(c)

dict_values([1, 2, 3, 4, 5])

In [ ]:
#Q28 変数に，値の組みとして{'A':1, 'B':2, 'C':3, 'D':4, 'E':5}を持つ辞書を格納して，キーと値（バリュー）の組みのタプルを要素としたリストを作成し，出力してください．
#期待する出力：[('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)]
a = {("A",1):6,("B",2):7,("C",3):8,("D",4):9,("E",5):10}
b = a.keys()
print(b)

dict_keys([('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)])

In [ ]:
#Q29 d = {'apple':10, 'grape':20, 'orange':30} 
#この辞書に対して，'apple'というキーが存在するかを確認し，存在しなければ，'apple'というキーに対して-1という値を追加してください．
#また，同様のことを'pineapple'でも行なってください．その後，最終的な辞書を出力してください．
#期待する出力：{'apple': 10, 'grape': 20, 'orange': 30, 'pineapple': -1}
d = {'apple':10, 'grape':20, 'orange':30}
print("pineapple" in d)
d["pineapple"] = -1
print(d)

False
{'apple': 10, 'grape': 20, 'orange': 30, 'pineapple': -1}

In [ ]:
#Q30 変数に文字列'training'を代入し，先頭を0番目として，1番目から4番目までを取り出して出力してください
a = "training"
a[1:5]

'rain'

In [ ]:
#Q31 変数に文字列'understand'を代入し，先頭を0番目として，奇数番目の文字列だけを取り出した文字列を出力してください
# 期待する出力：nesad
a = "understand"
a[1: :2]

'nesad'

In [ ]:
#Q32 変数にリスト[1,2,3,4,5]を格納して，これを逆順に出力してください．
#期待する出力：[5,4,3,2,1]
a = [1,2,3,4,5]
a[::-1]

[5, 4, 3, 2, 1]

In [ ]:
#Q33 変数にリスト[1,1,2,3,3,4,5]を代入し，このリストを集合に変換して出力してください．
#期待する出力：{1,2,3,4,5}
a = [1,1,2,3,3,4,5]
a1 = set(a)
print(a1)

{1, 2, 3, 4, 5}

In [ ]:
#Q34 変数set1に集合{1,2,3,4,5}，変数set2に集合{3,4,5,6,7}を代入し，積集合を出力してください
#期待する出力：{3,4,5}
a = {1,2,3,4,5}
b = {3,4,5,6,7}
c = a & b
print(c)

{3, 4, 5}

In [ ]:
#Q35 変数set1に集合{1,2,3,4,5}，変数set2に集合{3,4,5,6,7}を代入し，和集合を出力してください
#期待する出力：{1,2,3,4,5,6,7}
a = {1,2,3,4,5}
b = {3,4,5,6,7}
c = a | b
print(c)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#Q36 変数set1に集合{1,2,3,4,5}，変数set2に集合{3,4,5,6,7}を代入し，差集合を出力してください
#期待する出力：{1,2}
a = {1,2,3,4,5}
b = {3,4,5,6,7}
c = a - b
print(c)

{1, 2}

In [ ]:
#Q37 3つの変数に以下のように代入したコードがあります．各変数の型を出力してください．出力形式は問いません
#data1 = {'A':1, 'B':2}
#data2 = "hoge"
#data3 = {1,2,3,4,5}
#期待する出力：<class 'dict'> <class 'str'> <class 'set'>
data1 = {'A':1,'B':2}
data2 = "hoge"
data3 = {1,2,3,4,5}
print(type(data1))
print(type(data2))
print(type(data3))

<class 'dict'>
<class 'str'>
<class 'set'>

In [ ]:
#Q38 文字列'This is sentence .\n'の改行記号を消したものを出力してください．
#期待する出力：This is sentence .
"This is sentence .\n'".replace(".\n'",".")

'This is sentence .'

In [3]:
#Q39 変数に文字列'C C++ // python java'を代入し，この文字列を空白で区切った後のリストを出力してください，また，同じことを'/'でも行い，出力してください．
#期待する出力：['C', 'C++', '//', 'python', 'java'],['C C++ ', '', ' python java']
a = 'C C++ // python java'
print(a.split())
print(type(a.split()))
print(a.split('/'))

['C', 'C++', '//', 'python', 'java']
<class 'list'>
['C C++ ', '', ' python java']

In [10]:
#Q40 変数にリスト['This', 'is', 'a', 'sentence']を代入し，これらを空白区切で結合した文字列を出力してください．
#期待する出力：This is a sentence
a = ['This', 'is', 'a', 'sentence']
print(' '.join(a))

This is a sentence

In [11]:
#Q41 変数にリスト[11,2,7,13,5]を代入し，最大値を出力してください．
#期待する出力：13
a = [11,2,7,13,5]
print(max(a))

13

In [12]:
#Q42 変数にリスト[11,2,7,13,5]を代入し，最小値を出力してください．
#期待する出力：2
print(min(a))

2

In [13]:
#Q43 変数にリスト[11,2,7,13,5]を代入し，総和を出力してください．
#期待する出力：38
print(sum(a))

38

In [14]:
#Q44 変数にリスト[5,3,1,4,2]を格納し，昇順に並び替えたリストを出力してください．
#期待する出力：[1,2,3,4,5]
a = [5,3,1,4,2]
b = sorted(a)
print(b)

[1, 2, 3, 4, 5]

In [19]:
#Q45 いま，辞書を要素とするリストが次のように与えられています．
#li = [{'a': 6, 'b': 7, 'c': 6},
#     {'a': 4, 'b': 2, 'c': 3},
#     {'a': 1, 'b': 5, 'c': 8}]
#このとき，辞書のキーが'b'の値に関して降順になるようにソートしてください．
#期待する出力：[{'a': 6, 'b': 7, 'c': 6}, {'a': 1, 'b': 5, 'c': 8}, {'a': 4, 'b': 2, 'c': 3}]
li = [{'a': 6, 'b': 7, 'c': 6},
     {'a': 4, 'b': 2, 'c': 3},
     {'a': 1, 'b': 5, 'c': 8}]
li1 = sort(li)
print(li1)

NameError: ignored

In [37]:
#Q46 0から99の100の要素からなるリストを出力してください．
#期待する出力：[0,1,2....,99]
a = range(0,100)
print(a)
print(list(a))

range(0, 100)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [50]:
#Q47 変数にリスト[5,4,3,2,1]を代入し，要素と添字の値（先頭を0とする）を足し合わせた数値を要素に持つリストを新たに作成してください．
#内包表記を使うと便利です
#期待する出力：[5,5,5,5,5]
a = [5,4,3,2,1]
print(a.reverse())

None

In [ ]:
#Q48

In [ ]:
#Q49

In [51]:
#Q50mathモジュールをインポートして，θ=π2の下で，sinθ2+ cosθ2=1.0の値を出力してください．
#期待する出力：1.0
import math
theta = math.pi / 2
ans = math.sin(theta)**2 + math.cos(theta)**2
print(ans)

1.0